footer.footer
    .footer__logo
        img(src='/img/logo-white.png' alt='white logo')
    v1.footer__nav
        li: a(href='/about') About us 
        li: a(href='/guide') Become a guide
        li: a(href='/careers') Careers 
        li: a(href='/contact') Contact
    p.footer__copyright &copy: by Kevin Burke 2020  
